# Cartella target (file compilati localmente)
target/

# Metadati Git
.git
.gitignore

# File temporanei IDE
*.iml
.idea/
*.log

# File temporanei ed estensioni inutili
*.class
*.jar
*.war
*.db
.DS_Store